.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.formWrap {
  display: flex;
  padding-bottom: 20px;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-evenly;
}

.label:last-child {
  margin-top: 20px;
}

.btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  -webkit-transition: width 2s, height 2s, background-color 2s,
    -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.btn:hover {
  background-color: rgb(158, 221, 146);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
